body{
  background-image: url('../assets/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.container{
  height: 90vh;
  width: 50vw;
  margin: auto;
  padding-top: 25px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.songOption {
  width: 80%;
  height: 150px;
  margin: auto;
  margin-bottom: 25px;
  border: none;
  border-radius: 15px;
  font-size: 32px;
  display: block;
  font-family: 'Nunito', sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  padding: 0px !important;
}

.songOption:hover{
  background-blend-mode: normal;
  color: #f0f018;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}

#songPlayer{
  display: none;
}
#backBtn{
  display: none;
  float: left;
  position: relative;
  height: 50px;
  width: 50px;
  left: -30%;
  border-radius: 50%;
  background-color: yellow;
  border: 2px solid pink;
}
.icon-button{
  margin: 0px;
  width: 60%;
}

img{
  width: 70%;
  margin-bottom: 25px;
}

.title{
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  color: #f0f018;
  text-shadow: 2px 2px #f542b0;
  text-align: center;
  text-transform: capitalize;
}

p{
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px #f542b0;
  text-align: center;
  opacity: 0.5;
}

.lyrics{
  height: 430px;
}

.lyrics-wrapper{
  overflow-y: scroll;
  height: 200px;
  padding: 50px;
  /* overflow: hidden; */
}

.prev-line{
  font-weight: 200;
  opacity: 0.5;
}


.active{
  font-weight: 800;
  color: #f0f018;
  opacity: 1;
  padding-top: 25px;
}
#listSongs{
  overflow-y: scroll;
  height: 90vh;
}

/* width */
.lyrics-wrapper::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.lyrics-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px pink;
  border-radius: 10px;
  background:rgba(229, 54, 154, 0.15)
}

/* Handle */
.lyrics-wrapper::-webkit-scrollbar-thumb {
  background: #CE2686;
  border-radius: 10px;
}

#listSongs::-webkit-scrollbar {
  width: 15px;
}
#listSongs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px pink;
  border-radius: 10px;
  background:rgba(229, 54, 154, 0.15)
}
#listSongs::-webkit-scrollbar-thumb {
  background: #CE2686;
  border-radius: 10px;
}

audio::-webkit-media-controls-panel{
  background: pink;
}
